{{define "createdBadges"}}
<div id="created-badges">
  <h3 class="mb-4 text-lg font-semibold">Created Badges</h3>
  <div id="spinner-collected" class="spinner"></div>
  <div class="container px-4 py-8 mx-auto">
    {{if .CreatedBadges}}
    <div
      class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3"
    >
      {{range .CreatedBadges}}

      <div
        class="relative flex flex-col items-center p-4 rounded-lg shadow-md bg-bgPrimary"
      >
        <button
          class="p-2 m-2 mx-2 text-sm bg-red-600 rounded-md hover:bg-red-800 t-2 r-2"
          onclick="deleteBadge('{{.EventID}}')"
        >
          delete
        </button>
        <div class="relative group">
          <img
            src="{{.ThumbURL}}"
            alt="{{.Name}}"
            class="object-cover w-48 h-48 mb-3 border-4 rounded-md border-bgInverted"
          />
          <div
            class="absolute inset-0 flex items-center justify-center transition-opacity duration-300 bg-black bg-opacity-75 rounded-md opacity-0 group-hover:opacity-100"
          >
            <p class="p-2 text-xs text-center text-white">{{.Description}}</p>
          </div>
        </div>
        <h4 class="mb-2 text-lg font-semibold">{{.Name}}</h4>
        <div class="flex">
          <button
            class="p-2 mx-2 text-sm bg-green-600 rounded-md hover:bg-green-800"
            onclick="location.href='/update?badgeId={{.EventID}}&dtag={{.DTag}}&name={{.Name}}&description={{.Description}}&image={{.ImageURL}}&thumb={{.ThumbURL}}'"
          >
            update
          </button>
          <button
            class="p-2 mx-2 text-sm bg-blue-600 rounded-md hover:bg-blue-800"
          >
            award
          </button>
        </div>
      </div>

      {{end}}
    </div>
    {{else}}
    <p class="italic text-red">No badges created.</p>
    {{end}}
  </div>
  <button
    hx-get="/created-badges?clear_cache=true"
    hx-target="#created-badges"
    hx-swap="outerHTML"
    class="px-4 py-2 mt-4 text-sm font-semibold text-white bg-purple-500 rounded-md hover:bg-purple-700"
  >
    Refresh Badges
  </button>
</div>
{{end}}
