{{define "profileBadges"}}
<div id="profile-badges">
  <h3 class="mb-4 text-lg font-semibold">Profile Badges</h3>
  <div class="container px-4 py-8 mx-auto">
    <div id="spinner-profile" class="spinner"></div>
    {{if .ProfileBadgesEvents}}
    <div
      class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3"
    >
      {{range .ProfileBadgesEvents}} {{range .Badges}} {{$badgeDef := index
      $.BadgeDefinitions .BadgeDefinitionID}} {{if $badgeDef}}
      <div
        class="relative flex flex-col items-center p-4 rounded-lg shadow-md bg-bgPrimary"
      >
        <div class="relative group">
          <img
            src="{{$badgeDef.ImageURL}}"
            alt="{{$badgeDef.Name}}"
            class="object-cover w-48 h-48 mb-3 border-4 rounded-md border-bgInverted"
          />
          <div
            class="absolute inset-0 flex items-center justify-center transition-opacity duration-300 bg-black bg-opacity-75 rounded-md opacity-0 group-hover:opacity-100"
          >
            <p class="p-2 text-xs text-center text-white">
              {{$badgeDef.Description}}
            </p>
          </div>
        </div>
        <h4 class="mb-2 text-lg font-semibold">{{$badgeDef.Name}}</h4>
        <!--<p class="text-sm text-center">Debug: {{.AwardEventID}}</p>
        <p class="text-sm text-center">Awarded by: {{.AwardEventID}}</p>
        <p class="text-sm text-center">Awarded by: {{.BadgeDefinitionID}}</p>
        <p class="text-sm text-center">Relay: {{.AwardRelayURL}}</p>-->
        <button
          class="px-4 py-2 mt-4 text-xs font-semibold text-white bg-red-500 rounded-md hover:bg-red-700"
          hx-swap="outerHTML"
          hx-get="/wip-message"
        >
          Remove this Badge!
        </button>
      </div>

      {{else}}
      <p>Badge definition not found for ID: {{.BadgeDefinitionID}}</p>
      {{end}} {{end}} {{end}}
    </div>
    {{else}}
    <p class="italic text-red">Your Profile doesn't have any Badges.</p>
    {{end}}
  </div>
  <button
    hx-get="/profile-badges?clear_cache=true"
    hx-target="#profile-badges"
    hx-swap="outerHTML"
    class="px-4 py-2 mt-4 text-sm font-semibold text-white bg-purple-500 rounded-md hover:bg-purple-700"
  >
    Refresh Badges
  </button>
</div>
{{end}}
