{{define "view"}}
<h1>Create Badge</h1>
<form id="badge-form">
  <label for="badge-name">Badge Name:</label>
  <input
    class="p-2 rounded-md text-textInverted"
    type="text"
    id="badge-name"
    name="badge-name"
    required
  /><br /><br />

  <label for="badge-description">Description:</label>
  <input
    class="p-2 rounded-md text-textInverted"
    id="badge-description"
    name="badge-description"
    required
  />
  <br /><br />

  <label for="badge-image">Image URL:</label>
  <input
    class="p-2 rounded-md text-textInverted"
    type="text"
    id="badge-image"
    name="badge-image"
    required
  /><br /><br />

  <label for="badge-thumb">Thumbnail URL:</label>
  <input
    class="p-2 rounded-md text-textInverted"
    type="text"
    id="badge-thumb"
    name="badge-thumb"
    required
  /><br /><br />

  <button type="submit" class="p-2 m-2 text-white bg-purple-500 rounded-md">
    Create Badge
  </button>
</form>

<button
  hx-get="/"
  hx-swap="outerHTML"
  hx-target="body"
  class="p-2 m-2 text-white bg-blue-400 rounded-md"
>
  Return to Dashboard
</button>

<!-- Move this JavaScript to an external file -->
<script src="/static/js/createBadge.js"></script>
{{end}}
