{{define "view"}}
<main class="flex flex-col my-16 md:my-32">
  <div class="flex flex-col items-center mb-8 md:flex-row md:items-start">
    <img
      src="{{.Picture}}"
      alt="Profile Picture"
      class="w-24 h-24 mx-6 mb-4 border-4 rounded-lg md:w-32 md:h-32 md:mb-0 border-bgInverted"
    />
    <div class="text-center md:text-left">
      <h2 class="mb-2 text-xl font-semibold md:text-2xl">{{.DisplayName}}</h2>
      <p class="max-w-xs md:max-w-md text-textMuted">{{.About}}</p>
    </div>
  </div>

  <!-- Tabbed Container -->
  <div
    class="w-full max-w-4xl p-4 mx-auto rounded-lg shadow-md bg-bgSecondary text-textPrimary"
  >
    <div class="flex mb-4 border-b border-bgInverted">
      <button
        hx-get="/profile-badges"
        hx-target="#tab-content"
        hx-trigger="load,click"
        hx-swap="innerHTML"
        class="px-4 py-2 text-sm font-semibold text-white bg-purple-500 rounded-t-md hover:bg-purple-700"
        onclick="showTab('collected', 'spinner-collected')"
        data-spinner-id="spinner-collected"
      >
        Profile Badges
      </button>
      <button
        hx-get="/awarded-badges"
        hx-target="#tab-content"
        hx-trigger="click"
        hx-swap="innerHTML"
        class="px-4 py-2 ml-2 text-sm font-semibold text-white bg-purple-500 rounded-t-md hover:bg-purple-700"
        onclick="showTab('awarded', 'spinner-awarded')"
        data-spinner-id="spinner-awarded"
      >
        Awarded Badges
      </button>
      <button
        hx-get="/created-badges"
        hx-target="#tab-content"
        hx-trigger="click"
        hx-swap="innerHTML"
        class="px-4 py-2 ml-2 text-sm font-semibold text-white bg-purple-500 rounded-t-md hover:bg-purple-700"
        onclick="showTab('created', 'spinner-created')"
        data-spinner-id="spinner-created"
      >
        Created Badges
      </button>
    </div>

    <!-- Spinner shown during loading -->
    <div id="tab-content" class="p-4">
      <div id="spinner" class="spinner"></div>
      <!-- Spinner is shown here while loading -->
    </div>
  </div>

  <script>
    function toggleDropdown() {
      const dropdown = document.getElementById("dropdown");
      dropdown.classList.toggle("hidden");
    }

    // Check if the Nostr extension is available
    window.onload = function () {
      if (!window.nostr) {
        alert("Nostr extension not available. Redirecting to login...");
        window.location.href = "/login";
      }
    };
  </script>
  <script>
    function showSpinner(spinnerId) {
      const spinner = document.getElementById(spinnerId);
      if (spinner) {
        spinner.style.display = "block";
      }
    }

    function hideSpinner(spinnerId) {
      const spinner = document.getElementById(spinnerId);
      if (spinner) {
        spinner.style.display = "none";
      }
    }

    function showTab(tab, spinnerId) {
      showSpinner(spinnerId);
      setTimeout(function () {
        hideSpinner(spinnerId);
      }, 500);
    }

    document.body.addEventListener("htmx:afterOnLoad", function (event) {
      const button = event.detail.elt;
      const spinnerId = button.getAttribute("data-spinner-id");
      if (spinnerId) {
        hideSpinner(spinnerId);
      }
    });
  </script>
</main>
{{end}}
