{{define "view"}}
<div class="absolute flex items-center right-64 top-12">
  <button
    hx-get="/badgeform"
    class="p-2 mr-4 text-white bg-purple-500 rounded-lg"
    hx-swap="outerHTML"
    hx-target="body"
  >
    Create a Badge!
  </button>
  <div class="relative">
    <img
      src="{{.Picture}}"
      alt="Profile Picture"
      class="w-12 h-12 rounded-full cursor-pointer"
      onclick="toggleDropdown()"
    />
    <div
      id="dropdown"
      class="absolute right-0 z-20 hidden w-48 mt-2 bg-white rounded-md shadow-xl"
    >
      <a
        href="#"
        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
        >Change Theme</a
      >
      <a
        href="#"
        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
        onclick="logout()"
        >Logout</a
      >
    </div>
  </div>
</div>
<main class="flex flex-col my-32">
  <div class="flex mb-8">
    <img
      src="{{.Picture}}"
      alt="Profile Picture"
      class="w-32 h-32 mr-6 border-4 rounded-lg border-bgInverted"
    />
    <div>
      <h2 class="mb-2 text-2xl font-semibold">{{.DisplayName}}</h2>
      <p class="max-w-md text-textMuted">{{.About}}</p>
    </div>
  </div>

  <!--<p class="mb-4">Your Public Key: {{.PublicKey}}</p>-->

  <script>
    function toggleDropdown() {
      const dropdown = document.getElementById("dropdown");
      dropdown.classList.toggle("hidden");
    }

    function logout() {
      window.location.href = "/logout";
    }

    // Check if the Nostr extension is available
    window.onload = function () {
      if (!window.nostr) {
        alert("Nostr extension not available. Redirecting to login...");
        window.location.href = "/login";
      }
    };
  </script>
</main>
{{end}}
